<div class="container">
    <div class="box">
        <h2>Login</h2>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4 filtro">
                    Email:
                </div>
                <div class="col-lg-8">
                    <input id="idInputEmail" maxlength="200" type="text" [(ngModel)]="usuario.email"
                        class="form-control" name="EmailUsuario" placeholder="Email do Usuário">
                </div>
            </div>

            <div class="col-lg-12">
                <div class="col-lg-4 filtro">
                    Senha:
                </div>
                <div class="col-lg-8">
                    <input id="idInputSenha" maxlength="15" type="password" [(ngModel)]="usuario.senha"
                        class="form-control" name="SenhaUsuario" placeholder="Senha do Usuário">
                </div>
            </div>
            <div class="col-lg-12 buttons">
                <a id="btnLogin" name="btnLogin" class="btn btn-primary btn_buscar" type="button" (click)="fazerLogin()">Login</a>
                <a id="btnCadastrar" name="btnCadastrar" class="btn btn-primary btn_inserir" type="button" (click)="inserirUsuario()">Cadastre-se</a>
            </div>
        </div>
    </div>

    <p-dialog header="Usuário" [(visible)]="mostrarModal" [modal]="true" [contentStyle]="{width: '500px'}">
        <div class="ui-g">
            <div class="ui-g-2">
                <p class="tituloPopup">Código: </p>
            </div>
            <div class="ui-g-10">
                <input id="idInputCodigoUsuario" pattern="\d*" numerico [disabled]="true" type="number"
                    [(ngModel)]="formAlterandoUsuario.idUsuario" class="form-control" name="codigoUsuario">
            </div>
            <div class="ui-g-2">
                <p class="tituloPopup">*Nome: </p>
            </div>
            <div class="ui-g-10">
                <input id="idInputNomeUsuario" maxlength="200" [disabled]="!edicaoUsuario" type="text"
                    [(ngModel)]="formAlterandoUsuario.nome" class="form-control" name="nomeUsuario"
                    placeholder="Nome do Usuário">
            </div>
            <div class="ui-g-2">
                <p class="tituloPopup">*CPF: </p>
            </div>
            <div class="ui-g-10">
                <input id="idInputCPFUsuario" maxlength="14" [disabled]="!edicaoUsuario" [mask]="cpfcnpjmask()"
                    type="text" [(ngModel)]="formAlterandoUsuario.cpf" class="form-control" name="cpfUsuario"
                    placeholder="CPF do Usuário">
            </div>
            <div class="ui-g-2">
                <p class="tituloPopup">*Email: </p>
            </div>
            <div class="ui-g-10">
                <input id="idInputEmailUsuario" maxlength="100" [disabled]="!edicaoUsuario" type="email"
                    [(ngModel)]="formAlterandoUsuario.email" class="form-control" name="emailUsuario"
                    placeholder="Email do Usuário">
            </div>
            <div class="ui-g-2">
                <p class="tituloPopup">*Senha: </p>
            </div>
            <div class="ui-g-10">
                <input id="idInputSenhaUsuario" maxlength="15" [disabled]="!edicaoUsuario" type="password"
                    [(ngModel)]="formAlterandoUsuario.senha" class="form-control" name="senhaUsuario"
                    placeholder="Senha do Usuário">
            </div>
            <div class="ui-g-2">
                <p class="tituloPopup">*Ativo: </p>
            </div>
            <div class="ui-g-1">
                <input id="idInputAtivoUsuario" [disabled]="!edicaoUsuario" type="checkbox"
                    [(ngModel)]="formAlterandoUsuario.stAtivo" class="form-control" name="ativoUsuario"
                    [checked]="formAlterandoUsuario.stAtivo">
            </div>
        </div>
        <p-footer>
            <button type="submit" id="idButtonSalvarUsuario" name="idButtonSalvarUsuario" class="btn btn-danger"
                (click)="gravarUsuario()">Salvar</button>
            <a class="btn btn-info" type="button" (click)="closeModalDialog()">Voltar</a>
        </p-footer>
    </p-dialog>
    <p-overlayPanel #op [dismissable]="true">
        <ng-template pTemplate>
            Content
        </ng-template>
    </p-overlayPanel>

</div>