<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Links</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-12 ">
          <a id="btnInserir" name="btnInserir" class="btn btn-primary btn_inserir" type="button" (click)="inserirLink()">Novo Link</a>
        </div>
      </div>
      <br>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>URL</th>
            <th>Qtd. Cliques</th>
            <th>Data Criação</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let link of links">
            <td>{{link.idEnderecoLink}}</td>
            <td>{{link.nome}}</td>
            <td>{{link.url}}</td>
            <td>{{link.qtdClicks}}</td>
            <td>{{link.dtCriacao | date: 'dd/MM/yyyy' }}</td>
            <td>
                <button (click)="detalhaLinks(link.idEnderecoLink)" class="btn btn-info" title="Consulta Grupos" style="margin-left: 10px"><i class="pi pi-search"></i></button>
                <button (click)="editaLinks(link.idEnderecoLink)" class="btn btn-default" title="Edita Link" style="margin-left: 10px;"><i class="pi pi-pencil"></i></button>
                <button (click)="deleteLinks(link.idEnderecoLink)" class="btn btn-danger" title="Deleta Link" style="margin-left: 10px"><i class="pi pi-times"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <p-dialog header="Link" [(visible)]="mostrarModal" [modal]="true" [contentStyle]="{width: '500px'}">
      <div class="ui-g">
        <div class="ui-g-2">
          <p class="tituloPopup">Código: </p>
        </div>
        <div class="ui-g-10">
          <input id="idInputCodigoLink" pattern="\d*" numerico maxlength="2" [disabled]="true" type="text" [(ngModel)]="formAlterandoLink.idEnderecoLink"
            class="form-control" name="codigoLink" >
        </div>
        <div class="ui-g-2">
          <p class="tituloPopup">*Nome: </p>
        </div>
        <div class="ui-g-10">
          <input id="idInputNomeLink" maxlength="50" [disabled]="!edicaoLink" type="text" [(ngModel)]="formAlterandoLink.nome"
            class="form-control" name="nomeLink" placeholder="Descrição da Situação Extração">
        </div>
        <div class="ui-g-2">
          <p class="tituloPopup">*URL: </p>
        </div>
        <div class="ui-g-10">
          <input id="idInputUrlLink" maxlength="200" [disabled]="!edicaoLink" type="url" [(ngModel)]="formAlterandoLink.url"
            class="form-control" name="urlLink" placeholder="URL do Link">
        </div>
        <div class="ui-g-2">
          <p class="tituloPopup">*Qtd. Cliques: </p>
        </div>
        <div class="ui-g-10">
          <input id="idInputQtdClickLink" numerico maxlength="10" [disabled]="!edicaoLink" type="number" [(ngModel)]="formAlterandoLink.qtdClicks"
            class="form-control" name="qtdClickLink" placeholder="Quantidade de Cliques">
        </div>
      </div>
      <p-footer>
        <button type="submit" id="idButtonSalvarLink" name="idButtonSalvarLink" class="btn btn-danger" (click)="gravarLink()">Salvar</button>
        <a class="btn btn-info" type="button" (click)="closeModalDialog()">Voltar</a>
      </p-footer>
    </p-dialog>
    <p-overlayPanel #op [dismissable]="true">
      <ng-template pTemplate>
        Content
      </ng-template>  
    </p-overlayPanel>

    <p-dialog header="Grupo" [(visible)]="mostrarModalGrupo" [modal]="true" >
      <div class="ui-g">
        <div class="ui-g-4">
          <p class="tituloPopup">Código: {{ formAlterandoLink.idEnderecoLink }}</p>
        </div>
        <div class="ui-g-4">
          <p class="tituloPopup">Nome: {{ formAlterandoLink.nome }}</p>
        </div>
        <div class="ui-g-4">
          <p class="tituloPopup">Qtd. Cliques: {{ formAlterandoLink.qtdClicks }}</p>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-12">
          <p class="tituloPopup">URL: {{ formAlterandoLink.url }} </p>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-3">
          <input id="idInputOrdemGrupo" numerico maxlength="10" type="number" [(ngModel)]="formAlterandoGrupo.ordem"
          class="form-control" name="ordemGrupo" placeholder="Ordem do Grupo">
        </div>
        <div class="ui-g-5">
          <input id="idInputNomeGrupo" maxlength="50" type="text" [(ngModel)]="formAlterandoGrupo.nome"
          class="form-control" name="nomeGrupo" placeholder="Nome do Grupo">
        </div>
        <div class="ui-g-4">
          <input id="idInputQtdClickGrupo" [disabled]="true" numerico maxlength="10" type="number" [(ngModel)]="formAlterandoGrupo.qtdClicks"
          class="form-control" name="qtdClickGrupo" placeholder="Qtd. de Cliques do Grupo">
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-8">
          <input id="idInputUrlGrupo" maxlength="200" type="text" [(ngModel)]="formAlterandoGrupo.url"
          class="form-control" name="UrlGrupo" placeholder="URL do Grupo">
        </div>
        <div class="ui-g-2">
          <button type="submit" id="idButtonAdicionarGrupo" name="idButtonAdicionarGrupo" class="btn btn-danger" style="float: right;" (click)="gravarGrupo()">Adicionar</button>
        </div>
        <div class="ui-g-2">
          <button type="submit" id="idButtonCancelarGrupo" name="idButtonCancelarGrupo" class="btn btn-info" style="float: right;" (click)="cancelarGrupo()">Cancelar</button>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Cód. Link</th>
            <th>Ordem</th>
            <th>Cód. Grupo</th>
            <th>Nome</th>
            <th>URL</th>
            <th>Qtd. Cliques</th>
            <th>Data Criação</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let grupo of grupos">
            <td>{{grupo.enderecoLink.idEnderecoLink}}</td>
            <td>{{grupo.ordem}}</td>
            <td>{{grupo.idGrupo}}</td>
            <td>{{grupo.nome}}</td>
            <td>{{grupo.url}}</td>
            <td>{{grupo.qtdClicks}}</td>
            <td>{{grupo.dtCriacao | date: 'dd/MM/yyyy' }}</td>
            <td>
                <button (click)="editaGrupo(grupo.idGrupo)" class="btn btn-default" title="Edita Grupo" style="margin-left: 10px;"><i class="pi pi-pencil"></i></button>
                <button (click)="deleteGrupo(grupo.idGrupo)" class="btn btn-danger" title="Deleta Grupo" style="margin-left: 10px"><i class="pi pi-times"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <p-footer>
        <a class="btn btn-info" type="button" (click)="closeModalDialog()">Voltar</a>
      </p-footer>
    </p-dialog>
    <p-overlayPanel #op [dismissable]="true">
      <ng-template pTemplate>
        Content
      </ng-template>  
    </p-overlayPanel>
  </div>