<mat-toolbar color="primary" *ngIf="!isUrlLink()">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Sistema de Controle de Grupos Whatsapp</h1>
    <span class="menu-spacer"></span>
    <div style="float: right;">
      <a mat-button [routerLink]="'/'"> Home </a>
    </div>
    
  </mat-toolbar-row> 
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" #sidenav>
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/link'"> Links </a>
      <a mat-list-item [routerLink]="'/usuario'"> Usuários </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh; padding: 16px;">
      <p-toast [style]="{marginTop: '80px'}"></p-toast>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>